/* responsive.css (Eric Gregor) */

/* tablet responsive */

@media only screen and (min-width: 600px) {
	.hidden-tablet {
		display: none;
	}
	
	.flex-col-tablet {
		flex-direction: column;
	}

	/* header */

	.header-tablet {
		padding: 1rem 0.5rem 0 0.5rem;
	}

	/* logo and shopping cart */

	.logo-tablet {
		order: 1;
	}

	.logo-tablet img {
		height: 5vh;
	}

	.cart-tablet {
		height: 2.5rem;
		width: 2.5rem;
		order: 3;
	}

	/* top navigation, change menu items from horizontal to vertical */

	.nav-tablet {
		list-style-type: none;
		display: block;
		align-self: left;
		padding: 0;
		justify-content: left;
		font-size: 1rem;
		order: 2;
	}

	/* banner */

	.banner-tablet {
		height: 45vh;
		text-align: center;
	}

	.banner-tablet h3 {
		font-size: 1rem;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
		text-shadow: 2px 2px 8px grey;
	}

	.banner-tablet p {
		width: 80%;
		font-size: 2.25rem;
		padding: 0.5rem 1rem 0.5rem 2rem;
		text-shadow: 2px 2px 8px grey;
	}

	/* call to action (cta) */

	.cta-tablet {
		line-height: 2rem;
		justify-content: space-around;
		text-align: center;
		padding: 3.5rem 0 3.5rem 0;
	}

	.cta-tablet h2 {
		font-size: 2rem;
	}

	.cta-tablet h5 {
		width: 90%;
		font-size: 1rem;
		padding: 1.75rem 0 0 0;
	}

	/* categories */

	.cat-tablet {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.cat-row-tablet {
		width: 50%;
	}

	.cat-mens-tablet {
		height: 22vh;
		width: 50%;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.cat-trends-tablet {
		height: 22vh;
		width: 50%;
		margin-right: 0.25rem;
		margin-bottom: 0.5rem;
	}

	.cat-glasses-tablet {
		height: 22vh;
		width: 50%;
		margin-left: 0.25rem;
		margin-bottom: 0.5rem;
	}

	.cat-sale-tablet {
		height: 22vh;
		width: 50%;
		margin-right: 0.25rem;
	}

	.cat-bags-tablet {
		height: 22vh;
		width: 50%;
		margin-left: 0.25rem;
	}

	.cat-womens-tablet {
		height: 22vh;
		width: 50%;
		margin-left: 0.5rem;
	}

	/* products */

	.products-hdg-tablet {
		text-align: center;
		line-height: 1.5rem;
		padding: 3.5rem 0 2rem 0;
	}

	.products-hdg-tablet h2 {
		font-size: 2rem;
	}

	.products-tablet {
		text-align: center;
		line-height: 2rem;
		padding: 2rem 0 3rem 0;
	}

	.products-tablet h3 {
		font-size: 1.25rem;
	}

	.products-tablet h5 {
		font-size: 1rem;
		padding: 0 0 1rem 0;
	}

	.products-tablet h6 {
		font-size: 0.75rem;
	}

	/* email */

	.email-tablet {
		line-height: 1.5rem;
		padding: 3rem 0 3rem 0;
		text-align: center;
	}

	.email-tablet h2 {
		font-size: 2rem;
		text-shadow: 2px 2px 8px grey;
	}

	.email-tablet h5 {
		width: 95%;
		line-height: 2rem;
		font-size: 1rem;
		padding: 2rem 2rem 3rem 2rem;
	}

	.email-tablet div input {
		border-style: none;
		height: 2.25rem;
		width: 14rem;
		font-size: 1rem;
	}

	.email-tablet div button {
		border-style: none;
		height: 2.25rem;
		width: 7rem;
		font-size: 1rem;
	}

	/* footer */

	.footer-tablet {
		text-align: center;
		font-size: 0.9rem;
		line-height: 1.5rem;
		padding: 3.5rem 0 2rem 0;
		margin-top: 0.5rem;
	}

	/* social media links, change list items from vertical to horizontal */

	.brand-tablet {
		list-style-type: none;
		display: inline-block;
		align-self: center;
		padding: 1rem 0.5rem 1rem 0.5rem;
		justify-content: space-between;
	}
}
